.footer {
  padding: 20px 24px 24px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #6B7280;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.167; /* 小数点２桁以上なので確認必要 */
  text-decoration: underline;
}